<a href="https://colab.research.google.com/github/maha022000/MAHALAKSHMI/blob/Data-science--projects/Creating_panda_series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Write a Python program to create two lists -one for countries and another for country codes. Create a pandas series from these two lists with the codes as the index. Print the length, shape, and size of the series too.

In [ ]:
import pandas as pd
a=['India','Canada','Austaralia','Japan','Germany','France']
b=['IND','CAN','AUS','JAP','GER','FRAN']
series=pd.Series(a,b)
print(series)
print('Lenghth of the series:',len(series))
print('shape of the series: ',series.shape)
print('size of the series:' ,series.size)

IND          India
CAN         Canada
AUS     Austaralia
JAP          Japan
GER        Germany
FRAN        France
dtype: object
Lenghth of the series: 6
shape of the series:  (6,)
size of the series: 6

Write a Python program that reads Name, Age, and Roll no. as input from the
user and stores it into a DataFrame, and printsthe DataFrame you have created.

In [ ]:
import pandas as pd
R=int(input("Enter the number of students record you want to store:"))
name=[]
age=[]
rollno=[]
for i in range(R):
  name.append(input("Enter the name:"))
  age.append(int(input("Enter the age:")))
  rollno.append(int(input("Enter the rollno:")))
b=pd.DataFrame({'name':name,'Age':age,'Rollno':rollno})
print("the Data frame is-______________")
print(b)

Enter the number of students record you want to store:2
Enter the name:maha
Enter the age:22
Enter the rollno:32
Enter the name:priya
Enter the age:24
Enter the rollno:34
the Data frame is-______________
    name  Age  Rollno
0   maha   22      32
1  priya   24      34