<a href="https://colab.research.google.com/github/maha022000/MAHALAKSHMI/blob/Data-science--projects/Hypothesis_testing_using_seaborn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1. Problem Statement: Hypothesis TestingWrite  a  Python  program  that  reads  the  Life  Expectancy  Data.csv  (provided  on LMS)  file  into  a  DataFrame,  then  drops  null  values  and performshypothesis testing for the given scenario.H0:u= average life expectancy of Afghanistan is the same as the averageLife expectancy of the world (Null hypothesis)H1:u= average life expectancy of Afghanistan is not the same as the average Life expectancy of the world (Alternate hypothesis)

1.Load the dataset into a data frame

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sys

In [ ]:
a=pd.read_csv('Life Expectancy Data.csv')
a.head()

,Country,Year,Status,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,...,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling,Life expectancy
0,Afghanistan,2015,Developing,263.0,62,0.01,71.279624,65.0,1154,19.1,...,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1,65.0
1,Afghanistan,2014,Developing,271.0,64,0.01,73.523582,62.0,492,18.6,...,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0,59.9
2,Afghanistan,2013,Developing,268.0,66,0.01,73.219243,64.0,430,18.1,...,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9,59.9
3,Afghanistan,2012,Developing,272.0,69,0.01,78.184215,67.0,2787,17.6,...,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8,59.5
4,Afghanistan,2011,Developing,275.0,71,0.01,7.097109,68.0,3013,17.2,...,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5,59.2

In [ ]:
b=a.isnull().sum()
b

Country                              0
Year                                 0
Status                               0
Adult Mortality                     10
infant deaths                        0
Alcohol                            194
percentage expenditure               0
Hepatitis B                        553
Measles                              0
 BMI                                34
under-five deaths                    0
Polio                               19
Total expenditure                  226
Diphtheria                          19
 HIV/AIDS                            0
GDP                                448
Population                         652
 thinness  1-19 years               34
 thinness 5-9 years                 34
Income composition of resources    167
Schooling                          163
Life expectancy                     10
dtype: int64

In [ ]:
b=a.dropna()

In [ ]:
b.isnull().sum()

Country                            0
Year                               0
Status                             0
Adult Mortality                    0
infant deaths                      0
Alcohol                            0
percentage expenditure             0
Hepatitis B                        0
Measles                            0
 BMI                               0
under-five deaths                  0
Polio                              0
Total expenditure                  0
Diphtheria                         0
 HIV/AIDS                          0
GDP                                0
Population                         0
 thinness  1-19 years              0
 thinness 5-9 years                0
Income composition of resources    0
Schooling                          0
Life expectancy                    0
dtype: int64

In [ ]:
c=a.rename(columns={'Life expectancy ':'Life'})
c

m=c['Life'].mean()
m

d=c[c.Country ==	'Afghanistan']
d=d.sample(5,random_state=1)
d

,Country,Year,Status,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,...,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling,Life
3,Afghanistan,2012,Developing,272.0,69,0.01,78.184215,67.0,2787,17.6,...,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8,59.5
13,Afghanistan,2002,Developing,3.0,88,0.01,16.887351,64.0,2486,13.0,...,7.76,36.0,0.1,187.845950,21979923.0,19.9,2.2,0.341,6.2,56.2
7,Afghanistan,2008,Developing,287.0,80,0.03,25.873925,64.0,1599,15.7,...,8.33,64.0,0.1,373.361116,2729431.0,18.8,18.9,0.433,8.7,58.1
2,Afghanistan,2013,Developing,268.0,66,0.01,73.219243,64.0,430,18.1,...,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9,59.9
6,Afghanistan,2009,Developing,281.0,77,0.01,56.762217,63.0,2861,16.2,...,9.42,63.0,0.1,445.893298,284331.0,18.6,18.7,0.434,8.9,58.6

In [ ]:
d['Life'].mean()

58.46

4.consider a significance level of 0.05, perform a T-tail test using the stats library and calculate P-value and conclude hypothesis testing."""

In [ ]:
alpha=0.05
p=1-alpha/2
from scipy.stats import t

In [ ]:
df=4
critical_value = t.ppf(p,df)
print('The critical value of 95% level and with 4 degrees of freedom :',critical_value)

The critical value of 95% level and with 4 degrees of freedom : 2.7764451051977987

In [ ]:
from scipy.stats import ttest_1samp

In [ ]:
# Calculating t-statistic and p-value
t_statistic, p_value = ttest_1samp(d['Life'],m)
print('The t-statistic value is',t_statistic)
print('The p-value is',p_value)

The t-statistic value is -16.598798171913046
The p-value is 7.716291263159793e-05

In [ ]:
p_value
'{:.8f}'.format(p_value)

'0.00007716'

In [ ]:
if(p_value<alpha):
  print('we fail to reject the null hypothesis')
else: 
    print('we reject the null hypothesi.\nThe life expectancy of afghanistan is not same as avg life expectancy of worldavs')

we fail to reject the null hypothesis