<a href="https://colab.research.google.com/github/maha022000/MAHALAKSHMI/blob/main/Python_basic_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Write  a  Python  program  that  takes  marks  as  input  for  six  subjects, with maximum  marks   being  600, and prints  total  marks,  average  marks,  and percentagesobtained by a student.

In [ ]:
subject=input("Enter the marks of all six subjects one by one :: ")
subject_a=float(input("Enter the marks out of 100 obatined in subject- 1:"))
subject_b=float(input("Enter the marks out of 100 obatined in subject- 2:"))
subject_c=float(input("Enter the marks out of 100 obtained in subject-3:"))
subject_d=float(input("Enter the marks out of 100 obtained in subject-4:"))
subject_e=float(input("Enter the marks out of 100 obtained in subject-5:"))
subject_f=float(input("Enter the marks out of 100 obatained in subject-6:"))
total=subject_a+subject_b+subject_c+subject_d+subject_e+subject_f
average=total/6
percentage=(total/600)*100
print("\nTotal marks obtained : %.2f" %total)
print("Average marks obtained : %.2f" %average)
print("Percentage obatained : %.2f" %percentage)

Enter the marks of all six subjects one by one ::
Enter the marks out of 100 obatined in subject- 1:76
Enter the marks out of 100 obatined in subject- 2:56
Enter the marks out of 100 obtained in subject-3:78
Enter the marks out of 100 obtained in subject-4:75
Enter the marks out of 100 obtained in subject-5:69
Enter the marks out of 100 obatained in subject-6:74

Total marks obtained : 428.00
Average marks obtained : 71.33
Percentage obatained : 71.33

Declare a nested list with Exam scores and Student names as shown here -
"score=[[510, 'John'],[280, 'Lucy']……]".Write a Python program
to sort the list based on scores and print the students' names with first and
second-highest scores.

In [ ]:
a = [[65,'harshit'],[64,'jay'],[55,'sachin'],[558,'vishal'],[255,'vinay']]
a.sort()
a.reverse() 
print(a)
print("Student with highest marks is :",a[0][1])
print ("Student with second highest mark is :",a[1][1])

[[558, 'vishal'], [255, 'vinay'], [65, 'harshit'], [64, 'jay'], [55, 'sachin']]
Student with highest marks is : vishal
Student with second highest mark is : vinay