<a href="https://colab.research.google.com/github/maha022000/MAHALAKSHMI/blob/Data-science--projects/Splitting_Data_for_Testing_and_Training_in_given_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1. Problem Statement: Splitting Data for Testing and
Training
You are given a dataset – “housing.csv.” Load the dataset into a
DataFrame. Considering the “median_house_value” column as
output/target and the rest of the columns as input, perform the
following tasks:

1. Find the number of null values in each column and replace them with the
mean values
2. Split the data into test and train fragments using train_test_split()
function in 80:20 ratio (80% train, 20% test)
3. Print the size of test and train data (For both input and output)

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
df=pd.read_csv("housing.csv")
display (df.head())

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41,880,129.0,322,126,8.3252,452600,NEAR BAY
1,-122.22,37.86,21,7099,1106.0,2401,1138,8.3014,358500,NEAR BAY
2,-122.24,37.85,52,1467,190.0,496,177,7.2574,352100,NEAR BAY
3,-122.25,37.85,52,1274,235.0,558,219,5.6431,341300,NEAR BAY
4,-122.25,37.85,52,1627,280.0,565,259,3.8462,342200,NEAR BAY

In [ ]:
df.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,20640.000000,20640.000000,20640.000000,20640.000000,20433.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,-119.569704,35.631861,28.639486,2635.763081,537.870553,1425.476744,499.539680,3.870671,206855.816909
std,2.003532,2.135952,12.585558,2181.615252,421.385070,1132.462122,382.329753,1.899822,115395.615874
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.800000,33.930000,18.000000,1447.750000,296.000000,787.000000,280.000000,2.563400,119600.000000
50%,-118.490000,34.260000,29.000000,2127.000000,435.000000,1166.000000,409.000000,3.534800,179700.000000
75%,-118.010000,37.710000,37.000000,3148.000000,647.000000,1725.000000,605.000000,4.743250,264725.000000
max,-114.310000,41.950000,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

null values in data frame

In [ ]:
df.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

replace null values with mean

In [ ]:
mean_value=df['total_bedrooms'].mean()

In [ ]:
df['total_bedrooms']=df['total_bedrooms'].fillna(mean_value)

In [ ]:
print("Replacing null values with mean:")
df.isnull().sum()

Replacing null values with mean:

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
ocean_proximity       0
dtype: int64

duplicate rows

In [ ]:
df.duplicated().sum()

0

Spliting data into test and train

In [ ]:
#output
y= df.median_house_value
#input
x=df.drop('median_house_value' ,axis=1)
#splitting
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2)

print shapes of training and test data (sets)

In [ ]:
print("shape of original dataset :", df.shape)
print("shape of input-training set", x_train.shape)
print("shape of input-training set", y_train.shape)
print("shape of input-training set", x_test.shape)
print("shape of input-training set", x_test.shape)

shape of original dataset : (20640, 10)
shape of input-training set (16512, 9)
shape of input-training set (16512,)
shape of input-training set (4128, 9)
shape of input-training set (4128, 9)

In [ ]:
# split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=250)
x_train[:5]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity
630,-122.17,37.72,46,1369,284.0,766,289,3.5313,NEAR BAY
12392,-116.41,33.74,17,4289,893.0,958,440,2.4659,INLAND
18076,-122.03,37.28,29,3752,468.0,1320,471,9.8937,<1H OCEAN
10433,-117.62,33.43,24,1296,384.0,850,367,2.7545,NEAR OCEAN
12426,-116.20,33.63,23,1152,273.0,1077,235,2.5000,INLAND